body {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;

}


h1 {
    text-align: center;
    margin: 0;
    color: rgb(129, 167, 194);
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(129, 167, 194);
}

nav {
    border: 3px solid black;
    text-align: center;
    background-color: rgba(137, 150, 150, 0.2);
}
a {
    margin: 25px;
    padding: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 1000;
}

i :hover {
    color: red;
    font-weight: bold;
    font-style: oblique;
}



/*https://paletasdecolores.com/tag/azul-grisaceo/*/