body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/36/22/57/362257cf23c567b6465178b63dbe74e0.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-container {
  position: relative;
  width: 800px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.7;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(243, 241, 241, 0.288);
  color: #000;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn:hover {
  background: rgba(255, 116, 192, 0.719);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}