

body {
    font-family: 'Georgia', serif;
    background: linear-gradient(135deg, #ffdde1, #ee9ca7);
    color: #333;
    margin: 0;
    padding: 0;
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction:column;        
    
}

h1, h3 {
    text-align: center;
}

/* Dedicatoria */
.dedicatoria {
    margin: 20px;
    max-width: 600px;
    background: #fffaf0;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid #ffd700;
    text-align: center;
    margin: auto;
}

#name {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: #ff7e67;
    margin-bottom: 20px;
}

#dedicatoria {
    font-family: 'Cursive', 'Georgia', serif;
    font-size: 18px;
    line-height: 1.8;
    font-weight: normal;
    color: #444;
    margin-bottom: 20px;
}

#name2 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #6b5b95;
    text-align: right;
    margin-top: 20px;
}

#dedicatoria-container {
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#dedicatoria-container:hover {
    transform: scale(1.02);
    background-color: rgba(255, 235, 205, 0.5);
}


/* Condiciones */
.conditions {
    margin: 20px auto;
    max-width: 800px;
    background: #fffaf0;
    border: 2px solid #ffd700;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    color: #444;
    font-family: 'Georgia', serif;
    line-height: 1.8;
}

.conditions h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #6b5b95;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.conditions p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.conditions ol {
    margin: 20px 0;
    padding-left: 30px;
}

.conditions ol li {
    margin-bottom: 15px;
    font-size: 16px;
    color: #555;
}

.conditions ol li b {
    color: #ff7e67;
    font-weight: bold;
}

.conditions label {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 20px;
    color: #444;
}

.conditions input[type="checkbox"] {
    margin-right: 10px;
}

/* Botón */
.btn {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    font-size: 18px;
    background: #d3d3d3;
    color: #666;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: not-allowed;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn.active {
    cursor: pointer;
    background: #ff7e67;
    color: white;
    box-shadow: 0 8px 20px rgba(255, 126, 103, 0.5);
}

.btn.active:hover {
    background: #ff5637;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(255, 86, 55, 0.5);
}

/* Hover en botón deshabilitado */
.btn:disabled:hover {
    background: #d3d3d3;
    cursor: not-allowed;
}
